@import "tailwindcss";

:root {
  font-family: 'Inter', sans-serif;
}

code, pre, textarea.code-input {
  font-family: 'JetBrains Mono', monospace;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #f4f4f5;
}
::-webkit-scrollbar-thumb {
  background: #a1a1aa;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #71717a;
}
